.bg{
	background:   url(../images/intro-bg.jpg) no-repeat center;
    height: 1000px;
}

header{
    /*background: url("/images/avatar/0016.jpg");*/
    height: 70px;
}

.personal h2{
   color: whitesmoke;

}

.checkbox{
	color: #6cb2eb;
}

.container{
 margin-top: 5%;
}

/*li:hover img{*/
/*    text-shadow: 1px 1px 1px ;*/
/*    text-shadow: 1px 1px 3px lightgray, 0 0 1px black;*/


/*    !*width: 42px;*!*/
/*    !*height: 42px;*!*/
/*}*/

.sidebar .nav-item {
    cursor: pointer;
}

.nav-link img{
    width: 34px;
    height: 34px;
}

/*.bg-after-login{*/
/*    background:   url(../images/intro-bg.jpg) no-repeat center;*/
/*    height: 100%;*/
/*}*/


/* active links*/
.menu {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}

.menu_link {
    color: #555;
}

.menu_link.active {
    font-weight: bold;
    color: #900;
}

