.bg{
	background:   url(../images/intro-bg.jpg) no-repeat center;
    height: 1000px;
}
.bg_city{
	background:   url(../images/not_user/city.jpg) no-repeat center;
    height: 1000px;
}

header{
    /*height: 70px;*/
}

.personal h2{
   color: whitesmoke;

}

.checkbox{
	color: #6cb2eb;
}

.container{
 margin-top: 5%;
}

.sidebar .nav-item {
    cursor: pointer;
}

.nav-link img{
    width: 34px;
    height: 34px;
}

/* active links*/
.menu {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}

.menu_link {
    color: #555;
}

.menu_link.active {
    font-weight: bold;
    color: #900;
}

