/*-------------------------------------------------------*/
/* Base styles	 */
/*-------------------------------------------------------*/
body {
    /*background-image:url(../images/bg3.png);*/
    /*background-color: #999;*/
    margin: 0px;
    padding: 0px;
    font-family:'Open Sans', Arial;
    font-size: 14px;
}
/*-------------------------------------------------------*/
/* Wrap */
/*-------------------------------------------------------*/
#container {
    margin:0 auto;
    width:860px;
    /*margin-bottom: 20px;*/
    margin-top: 30px;
}
#content {
    background-color:#FFF;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
/*-------------------------------------------------------*/
/* Generic Classes */
/*-------------------------------------------------------*/
.hidden {
    display: none;
}
.clear {
    clear:both;
}
/*-------------------------------------------------------*/
/* Typography */
/*-------------------------------------------------------*/
h1 {font-size: 37px;}
h2 {font-size: 30px;}
h3 {font-size: 20px;}
h4 {font-size: 15px;}
h5 {font-size: 13px;}
h6 {font-size: 12px;}

h3.main-heading {
    /*background-image:url('../images/plus.png');*/
    background-repeat: no-repeat;
    background-position:left 2px;
    margin:15px 2px;
}
h3.main-heading span {
    border-bottom:1px solid #999;
    padding-bottom:7px;
    color:#333;
    line-height:16px;
    margin-left:28px;
    display:block;
}
strong {
    font-weight: bold;
    color: #333;
}
/*-------------------------------------------------------*/
/* Top Section */
/*-------------------------------------------------------*/
div.top {
    height:80px;
    padding-top:20px;
    overflow:hidden;


}
/* Logo */
#logo {
    float:left;
    overflow:hidden;
    margin-left:10px;
    /*display:none;*/
}

#logo h4 {
    color:#666;
    line-height:20px;
}
/* Social icons */
.socialicons {
    float:right;
    margin-top:18px;
}
.socialicons li {
    float:left;
    display:inline;
    margin:0;
    padding:0;
    margin-right:2px;
}
.social-icons li:last-child {
    margin-right:0
}
.social-text {
    float:left;
    padding:9px;
    height:12px;
    background-color:#222;
    color:#FFF;
}
.social-facebook {
    float:left;
    width:30px;
    height:30px;
    background:#222 url('../images/social_facebook.png') no-repeat 5px 5px;
}
.social-twitter {
    float:left;
    width:30px;
    height:30px;
    background:#222 url('../images/social_twitter.png') no-repeat 5px 5px;
}
.social-googleplus {
    float:left;
    width:30px;
    height:30px;
    background:#222 url('../images/social_googleplus.png') no-repeat 4px 3px;
}
.social-facebook:hover {
    background-color:#3b5998;
}
.social-twitter:hover {
    background-color:#22b1e5;
}
.social-googleplus:hover {
    background-color:#d94a38;
}
.social-mail:hover {
    background-color:#f6c500;
}
/*-------------------------------------------------------*/
/* Profile Section */
/*-------------------------------------------------------*/
#profile {
    background-image:url(../images/header-shadow.png);
    background-position:center bottom, left top;
    background-repeat:repeat-x;
    overflow:hidden;
    background-color:#fdd42f;
}



/* About */
.about {
    float:left;
    margin-top:30px;
    width:490px;
    margin-left:20px;
}
.about .photo-inner {
    float:left;
    /*background:url(../images/photo-inner.png) no-repeat;*/
    width:192px;
    height:212px;
    padding:70px 0 30px 10px;
}
.about .photo-inner img {
    background-color:#FFF;
}
.about h1 {
    font-weight:900;
    color:#FFF;
    line-height:34px;
    margin-top:8px;
}
.about h3 {
    margin-top:5px;
    font-size:18px;
    color:#FFF;
    line-height:18px;
}
.about p {
    font-size:14px;
    margin-top:15px;
    color:#bc9010;
    line-height:20px;
}


/* Personal info */
.personal-info {
    float:left;
    margin-top:20px;
    width:310px;
    min-height:230px;
    margin-left:10px;
    background:url(../images/personal-info-sep.png) no-repeat left ;
    padding:20px 0 0 20px;
}
.personal-info li {
    font-size:14px;
    margin-bottom:4px;
    overflow: hidden;
}
.personal-info li label {
    color:whitesmoke;
    background-color:#f4c024;
    float:left;
    padding:4px 7px;
    border-radius: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.personal-info li span {
    float:right;
    width:170px;
    color:#a87f09;
}



